# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# Compiled files
dist/
build/

# Temporary files
tmp/
temp/
*.tmp
*.swp

# Docker files (if using Docker)
docker-compose.yml
Dockerfile
**/Dockerfile

# Coverage reports (for testing)
coverage/
**/coverage/

# NPM lock file (if you're using yarn)
yarn.lock

common/